* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;

}

header {
    display: flex;
    background-color: #2e3191;
    padding: 18px 6%;
    justify-content: space-between;
}

.box {
    /* background-color: wheat; */
    width: 35%;
    /* gap: 20px; */
    color: white;
    text-align: left;
}

.box1 {
    /* background-color: wheat; */
    gap: 20px;
    color: white;
    display: flex;
    justify-content: right;
}
.box3 a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    /* background-color: violet; */
    padding: 0 6%;
    background-color: whitesmoke;
    letter-spacing: 0.5px;
}
.logo{
    width: 25%;
    /* background-color: tomato; */
}
.logo img{
    /* width: 100; */
    padding: 25px 0;
}
.menu{
    width: 60%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}
.menu div a{
    padding: 35px 13px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    /* background-color: red; */
    position: relative;
    border-bottom: 3px solid transparent;
}
.menu div a:hover{
    /* background-color: red; */
    border-bottom: 3px solid #2e3191;
}
.query{
    width: 15%;
    padding: 35px 5px;
    color: #2e3191;
}
.query a{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 40px;
    width: 200px;
    height: 50px;
}
.query a:hover{
    background-color: rgb(70, 70, 70);
    color: white;
}